body{
    background-color: #F8F8FF;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

} 

.cards>img{
    width: 30%;
    margin: calc(10%/6);
    box-shadow: 3px 3px 8px 0px rgb(0 0 0 / 30%);
    border-radius: 5%;
}

nav{
    border-bottom: 1px solid #A9A9A9;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1em 0;
    font-size: 1em
}
span{
    /* font-style: italic; */
    font-weight: 200;
}